:root, html, body {height: 100%; width: 100%; padding: 0; margin: 0; font-family: 'roboto', sans-serif;}

:root {
    --highlight: #00BFB2;
    --lowlight: #1A5E63;
    --main: #028090;
    --content: #F0F3BD;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    height: 90%;
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    color: white;
    text-align: center;
}

#header {
    background-color: var(--highlight);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-header {
    border-bottom: 5px solid var(--main);
    padding: 0;
    margin: 0;
}

.sub-header {
    margin: 0;
    padding-top: 10px;
}

.button {
    background-color: var(--highlight);
    padding: 20px;
    display: inline-block;
    font-weight: bold;
    width: 100px;
    transition: background-color 200ms;
    COLOR: white;
    user-select: none;  
}

.button:hover {
    background-color: var(--lowlight);
    cursor: pointer;
}

#info {
    color: black;
    font-weight: bold;
    width: 200px;
    text-align: center;
    height: 120px;
}

.message span {
    display: inline-block;
    margin-top: 20px;
    transition: all;
}

.score {
    display: grid;
    grid-template-areas: "computer computer-score"
    "player player-score";
}